.root {
    game-color: #EE964B;
    border-color: #f8f8f8;
    -fx-background-color: game-color;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 35px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.line {
    -fx-stroke: #F8F8F8;
    -fx-stroke-width: 8;
}

.circle {
    -fx-stroke: #F8F8F8;
    -fx-stroke-width: 8;
    -fx-fill: transparent;
}

.button {
    -fx-background-color: game-color;
    -fx-text-fill: transparent;
    -fx-border-width: 5 5 5 5;
    -fx-padding: 0;
}

.button:hover {
    -fx-background-color: game-color;
}

.button:pressed {
    -fx-background-color: game-color;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
